# Export settings
/tests export-ignore
/.github export-ignore
/.junie export-ignore
/phpunit.xml.dist export-ignore
/.gitignore export-ignore
/RELEASE.md export-ignore

# Keep data files
/data/ !export-ignore
